# Base de Datos PostgreSQL
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydb
DATABASE_URL=postgresql://myuser:mypassword@postgres:5432/mydb

# Supabase (Almacenamiento de archivos)
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_KEY=your-supabase-anon-key
SUPABASE_BUCKET=your-bucket-name

# Backend & Autenticación (FastAPI)
SECRET_KEY=your-super-secret-key-for-jwt
ALGORITHM=HS256
FRONTEND_URL=http://localhost:5173

# Frontend (Vite / React)
VITE_API_URL=http://localhost:8000

# Correos (SMTP)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=tu-correo@gmail.com
EMAIL_PASSWORD="tul contraseña de aplicación"
